@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: 'Allerta';
  font-style: normal;
  font-weight: 400;
  src: local('Allerta Regular'), local('Allerta-Regular'), url(./URdUfE0ePw9inz9dceNoVA.woff) format('woff');
}


#conten
	{


	}

#imgFondo
	{
	width:74%;
	height:100%;
	margin-left:0px;
	z-index:1;
	position:absolute;

	
	}

#imgCurso
{	
	width:74%;
	height:100%;
	margin-left:25%;
	margin-right:0;
	z-index:2;
	position:absolute;

	}
#logovb
{	position:absolute;
	width:20%;
	height:75%;
	margin-right:500;
/*	background-color:#000000;*/
	background-image:url(imagenes/lg.png);
	background-repeat:no-repeat;
	background-size:contain;
}
#titCurso
{	
	/*float:inherit;*/
	margin:5% 20% 10% 20%;
	font-family:'allerta';
	font-weight:bolder;
	font-size:2.5vw;	
	text-align:center;
	text-transform:uppercase;
	color:#060606;
	
	}
#imagenvistob{
	background-image:url(imagenes/vistobueno.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size:80px 80px;
	width:100px;
	height:100px;
	margin:0 auto;
}	
#imagenvistob:hover{background-image:url(imagenes/vistobuenoh.png);
background-repeat:no-repeat;
background-position:center;}
#eti_imgFondo
	{	
	min-width:30px;
	min-height:70px;
/*	background-color:#625E5E;*/
	margin:0 auto;
	color:#FFFFFF;
	background-size:100% 100%;	
	-webkit-border-radius: 12px ;
	-moz-border-radius: 12px;
	border-radius: 12px;/*
	-webkit-box-shadow: #595959 4px 4px 4px;-moz-box-shadow: #595959 4px 4px 4px; box-shadow: #595959 4px 4px 4px;*/
	}
#eti_titCurso
{/*	position:absolute;
	margin-top:25px;
	margin-left:20%;
	font-family:'allerta';
	font-weight:bolder;
	font-size:16px;		
	text-transform:uppercase;
	color:FBFBFB;
	text-shadow: 1px 1px #000;*/
	/*/////////////////*/
	position:absolute;
	margin:5% 20% 10% 20%;
	font-family:'allerta';
	font-weight:bolder;
	font-size:2.5vw;	
	text-align:center;
	text-transform:uppercase;
	color:#060606;
	}
	#opc	
	{	margin:0 auto;
		margin-top:15px;
		text-align:center;
		width:600px;
		height:55px;
	}
	#open	  {width:150px;float:left;/*background-color:#787474;*/}
	#openFondo{width:150px;float:left;/*background-color:#ADADAD;*/}
	#openCurso{width:150px;float:left;/*background-color:#787474;*/}
	#openTexto{width:150px; float:left;}

	.men:hover
	{	cursor:pointer;
		-webkit-border-radius: 7px 0px 7px 0px;-moz-border-radius: 7px 0px 7px 0px;border-radius: 7px 0px 7px 0px;
		-webkit-box-shadow: #595959 9px 9px 9px;-moz-box-shadow: #595959 9px 9px 9px; box-shadow: #595959 9px 9px 9px;
		background-color:#fb9e25;
		color:#FFF;
	}

  	#menImg
	{font-family: 'allerta', cursive;	}

	/*OPCIONES DE GURADADO*/
	/*contenedor opciones*/
	#contOpc{width:549px; min-height:150px; color:#FFF; margin:0 auto; float:inherit; display:none;border-radius:12px; background-color:#2272de;	 }
	.opci{  min-height:150px;}
	#camTit { margin:0 auto; text-align:center; }
	#txtTit{  margin-top:10%; width:450px; height:60px;border:none;}
	#camImF	{ display:none;}
	#camImC	{ display:none;}
	#camFuL{ display:none;}

	/*PARA NUEVO TITULO EN NUEVO BANNER.PHP*/
	#nuevoTitulo
	{}

	#oculto
	{
	display:none;
	width:400px;
	height:180px;
	/*background-color:#FDDFAE;*/
	margin:0 auto;
	text-align:center;
	}
	textarea
	{
	text-align:left;
	font-size:12px;
	color:#000000;
	background-color:#F1F1F1;
	}
	input{border:none;
	}
	/*EN NUEVOBANNER.PHP SE USAR PARA EL BOTON*/
	#btn, #txtBus {	
	background-color:#2272de;
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	border-radius:16px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'allerta', cursive;
	font-size:20px;
	font-weight:bold;
	padding:12px 15px;
	text-decoration:none;	
	}
	#btn:hover, #txtBus:hover {
	background-color:#eea564;
	}
	#btn:active, #txtBus:active {
	position:relative;
	top:1px;

	}

	/*para el tipo de letra del body nuevo titulo*/
	#nuevoTitulo, #bodyfondo, #bodyimagen, #bodybanner, #txtBus, body
	{
	font-family: 'allerta', cursive;
	text-align:center;
	}
	a{
	text-decoration:none;
	color:#000;
/*transition:width 0.5s, height 0.5s, transform 0.5s;
	-webkit-transition: all 0.5s ease-out; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease;*/

	}
	a:hover
	{
	transform:rotate(359deg);
/*	-webkit-transform: rotate(359deg); -moz-transform: rotate(359deg); -o-transform: rotate(359deg);*/
	border-radius: 7px;	
	background-color:#E3E3E3;
	}
	
	#contImg
	{/*mostrarimagenfondo*/
	float:left;
	padding:10px 10px 10px 10px;
	margin-left:5%;
/*	text-align:center;*/
	}
	#creditos{
	margin:0 auto;
	text-align:center;
	width:1024px;
	font-size:10px;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	}
	#menusInf
	{
	margin:0 auto;
	text-align:center;
	}
	
	#ladoizq
	{
	width:200px; min-height:800px; position:absolute;	
	}
	#ladoder{width:auto; min-height:600px; position:relative;}
	#video
	{	
	margin-top:150px;	
	}
	.mencont
	{	width:200px;
		height:40px;
		margin-left:15px;
	}
	

	.menocopc
	{	
		position:relative;
		margin-right:-50px;
	}




	
